body{background-color:black;}
h1{text-align:center;}
h1{color:#1a53ff;}
h1{font-size:80px;}
h1{font-family: 'Ranga', cursive;}
h2{color:#3366ff;}
h2{font-size:40px;}
ol{color:#809fff;}
ol{font-size:25px;}
ul{font-size:25px;}
ul{color:#0099cc;}
marquee{color:#1a53ff;}
ol{font-family: 'Caveat', cursive;}
ul{font-family: 'Caveat', cursive;}
img{text-align:center;}
img{border:2px solid blue;}
img{width:220px;}

